# Byte-compiled / optimized / DLL files
*.pc
*.pyc
*.pyo
__pycache__

*.py[cod]
*$py.class
.idea/*
auto_images/
log/
venv/
session/
downloads/
memory_logs/
logs/
scopes/
tmp_scopes/
custom_scripts/
docs-retype/node_modules/*
myconf.json
log.txt
error_log.txt
geckodriver.log
docs/